.header-background-image {
  background: url(/assets/hexHeader.jpg) center no-repeat;
  min-height: 439px;
  background-size: cover;
  font-size: 45px;
  color: white;
  text-align: center;
}
.logo-wrapper {
  width: 120px;
}
.logo-image {
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #939393;
  padding: 20px;
}
