<table>
  <tr>
    <th class="md-text-cell">Игрок</th>
    <th>Очки</th>
  </tr>
  <tr *ngFor="let player of playerService.players" (click)="plusOnePoint(player)">
    <td>{{ player.name }}</td>
    <td class="centered-cell">{{ player.points }}</td>
  </tr>
</table>
<div class="centered-div">
  <button md-raised-button (click)="clear()" color="primary" class="primary-button">Сбросить</button>
  <button md-raised-button (click)="removePlayers()" color="primary" class="primary-button">Удалить</button>
</div>
