<div class="map-container">
  <md-card>
    <md-card-content>
      <div layout="row" layout-align="end" class="add-map-button-container">
        <button md-raised-button color="primary" [routerLink]="['edit', 'new']">Add Map</button>
      </div>
      <table class="w3-table w3-table-all w3-hoverable">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let map of maps" [routerLink]="[map.id]">
          <td>{{map.id}}</td>
          <td>{{map.name}}</td>
          <td>
            <md-icon [routerLink]="[map.id, 'edit']">edit</md-icon>
            <md-icon (click)="deleteMap($event, map)">delete</md-icon></td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>
